/*
FOOTER
*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #93c47d;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    left: 0;
}

footer.show {
    opacity: 1;
}

#lefooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li{
    display: inline-block;
    font-family: "Arial", sans-serif;
    color : #93c47d;
}

.lien_footer{
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    margin-right: 20px;
    margin-left: 20px;
}


.lien_footer_reseau{
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    margin-right: 10%;
    margin-left: 10%;
}

.lien_footer:hover{
    color: black;
    transition: all 0.4s ease 0s;
}

footer img{
    width: 50px;
}

.items_social{

    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: column;

}

#social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#boutons-cliquables{
    flex-direction: row;
    padding: 0px;
}

footer h2 {
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    margin: 0;
}

main {
    flex-grow: 1;
    padding-bottom: 300px;
}


@media all and (max-device-width: 600px)
{
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #93c47d;
        text-align: center;
        opacity: 0;
        /* transition: opacity 0.3s ease; */
        left: 0;
        display: flex;
    }

    footer.show {
        opacity: 1;
    }

    #lefooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 23%;
    }

    footer li{
        display: inline-block;
        font-family: "Arial", sans-serif;
        color : #93c47d;
    }

    .lien_footer{
        text-decoration: none;
        color: white;
        font-family: "Arial", sans-serif;
        margin-right: 20px;
        margin-left: 20px;
    }


    .lien_footer_reseau{
        text-decoration: none;
        color: white;
        font-family: "Arial", sans-serif;
        margin-right: 10%;
        margin-left: 10%;
    }

    .lien_footer:hover{
        color: black;
        transition: all 0.4s ease 0s;
    }

    footer img{
        width: 50px;
    }

    .items_social{

        display: flex;
        align-items: center;
        margin: 10px;
        flex-direction: column;

    }

    #social_media {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: 25px;
    }

    #boutons-cliquables{
        flex-direction: row;
        padding: 0px;
        font-size: 30px;
    }

    footer h2 {
        text-decoration: none;
        color: white;
        font-family: "Arial", sans-serif;
        margin: 0;
        font-size: 30px;
    }

    main {
        flex-grow: 1;
        padding-bottom: 300px;
    }
}
