body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]#tags {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #95a662;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

.etape,
.ingredient,
.ustensil {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.supprimer-etape,
.supprimer-ingredient,
.supprimer-ustensil {
    margin-left: 10px;
    padding: 4px 8px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.supprimer-etape:hover,
.supprimer-ingredient:hover,
.supprimer-ustensil:hover {
    background-color: #c82333;
}

#etapes-container,
#ingredients-container,
#ustensils-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

#ajouter-etape,
#ajouter-ingredient,
#ajouter-ustensil {
    display: block;
    margin-top: 10px;
}

#ajouter-etape:hover,
#ajouter-ingredient:hover,
#ajouter-ustensil:hover {
    background-color: #28a745;
}

.tag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.supprimer-tag {
    margin-left: 10px;
    padding: 4px 8px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.supprimer-tag:hover {
    background-color: #c82333;
}


#ajouter-tag {
    display: block;
    margin-top: 10px;
}

#ajouter-tag:hover {
    background-color: #28a745;
}

.affirmation{
    margin : 1%;
    text-align: center;

}
.boutton{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.tags-container ul
{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 0;
    list-style: none;
}

.tags-container li
{
    justify-content: center;
    position: relative;
    display: inherit;
}
select {
    margin-left: 2%;
    padding: 2px 6px;
    font-size: 11px;
    background-color: #6e6bc0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

select:hover {
    background-color: #0069d9;
}

select option {
    background-color: #fff;
    color: #000;
}

.ingredient input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 2%;
}