/*
    BODY
 */
body
{
    font-family: Arial,sans-serif;
}

input::-webkit-input-placeholder {
    text-align: center;
}

input:-moz-placeholder {
    text-align: center;
}

input::-moz-placeholder {
    text-align: center;
}

input:-ms-input-placeholder {
    text-align: center;
}
.section h2{
    border: 5px solid;
    border-color: #bed08c;
    border-radius: 25px;
    padding:1%;
    width: 50%;
    margin:0 auto 5%; /*marge entre haut et en bas de l'encadrement (0) et sur les cotés (auto)*/
    text-align: center;
}

.alignement div{
    margin-right: 5%;
    margin-left: 5%;
}
.alignement{
    display: flex;
    justify-content: space-between;
}

.picture {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 5%;
}

.rectangle {
    width: 90%;
    height: 60%;
    background-color: #bed08c; /* Couleur rouge */
}

.button
{
    padding: 1% 2%;
    font-size: 100%;
    display: inline-block;
    border-radius: 25px;
    background-color: #bed08c;
    color: white;
    border:none;
}


.block{
    flex-basis: 33.33%;
    justify-content: center;
    position: relative;
}

.block img{
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
    object-fit: cover;
}

.alignement {
    text-align: center;
}

.block button {
    position: absolute;
    font-size: 100%;
    left:50%;
    transform : translateX(-50%);
    border-radius: 25px;
    background-color: #bed08c;
    color: white;
    border:none;
}

p
{
    color: white;
    text-align: center;
}

h1
{
    color: white;
    text-align: center;
}
