
/*
    BODY
 */
body {
    font-family: Arial, sans-serif;
}

input::-webkit-input-placeholder {
    text-align: center;
}

input:-moz-placeholder {
    text-align: center;
}

input::-moz-placeholder {
    text-align: center;
}

input:-ms-input-placeholder {
    text-align: center;
}

.section h2 {
    border: 5px solid;
    border-color: #bed08c;
    border-radius: 25px;
    padding: 1%;
    width: 50%;
    margin: 0 auto 5%; /*marge entre haut et en bas de l'encadrement (0) et sur les cotés (auto)*/
    text-align: center;
}

.alignement div {
    margin-right: 5%;
    margin-left: 5%;
}

.alignement {
    display: flex;
    justify-content: space-between;
}

.picture {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 5%;
}

.rectangle {
    width: 90%;
    height: 60%;
    background-color: #bed08c; /* Couleur */
}


.button {
    padding: 1% 2%;
    font-size: 100%;
    display: inline-block;
    border-radius: 25px;
    background-color: #bed08c;
    color: white;
    border: none;
}


.block {
    flex-basis: 33.33%;
    justify-content: center;
    position: relative;
}

.block img {
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
    object-fit: cover;
}

.alignement {
    text-align: center;
}

.block button {
    position: absolute;
    font-size: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    background-color: #bed08c;
    color: white;
    border: none;
}

p {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

//redéfinition des classes pour le responsive téléphone mobile
@media  screen and (min-width: 1025px) {
    body {
        font-family: Arial, sans-serif;
    }

    input::-webkit-input-placeholder {
        text-align: center;
    }

    input:-moz-placeholder {
        text-align: center;
    }

    input::-moz-placeholder {
        text-align: center;
    }

    input:-ms-input-placeholder {
        text-align: center;
    }

    .section h2 {
        border: 5px solid;
        border-color: #bed08c;
        border-radius: 25px;
        padding: 1%;
        width: 50%;
        margin: 0 auto 5%; /*marge entre haut et en bas de l'encadrement (0) et sur les cotés (auto)*/
        text-align: center;
    }

    .alignement div {
        margin-right: 5%;
        margin-left: 5%;
    }

    .alignement {
        display: flex;
        justify-content: space-between;
    }

    .picture {
        flex: 1;
        max-width: 100%;
        height: auto;
    }

    .conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin-top: 5%;
    }

    .rectangle {
        width: 90%;
        height: 60%;
        background-color: #bed08c; /* Couleur */
    }


    .button {
        padding: 1% 2%;
        font-size: 100%;
        display: inline-block;
        border-radius: 25px;
        background-color: #bed08c;
        color: white;
        border: none;
    }


    .block {
        flex-basis: 33.33%;
        justify-content: center;
        position: relative;
    }

    .block img {
        display: flex;
        height: 100%;
        width: 100%;
        margin-bottom: 5%;
        object-fit: cover;
    }

    .alignement {
        text-align: center;
    }

    .block button {
        position: absolute;
        font-size: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        background-color: #bed08c;
        color: white;
        border: none;
    }

    p {
        color: white;
        text-align: center;
    }

    h1 {
        color: white;
        text-align: center;
    }
}


@media all and (max-device-width: 600px) {

    input::-webkit-input-placeholder {
        text-align: center;
    }

    input:-moz-placeholder {
        text-align: center;
    }

    input::-moz-placeholder {
        text-align: center;
    }

    input:-ms-input-placeholder {
        text-align: center;
    }

    .section h2 {
        border: 5px solid;
        border-color: #bed08c;
        border-radius: 25px;
        padding: 1%;
        width: 60%;
        margin: 0 auto 5%;
        text-align: center;
        font-size: 40px;
    }

    .alignement div {
        margin-right: 1%;
        margin-left: 1%;
    }

    .alignement {
        display: flex;
        justify-content: space-between;
    }

    .picture {
        flex: 1;
        max-width: 100%;
        height: auto;
    }

    .conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        margin-bottom: 6%;
        margin-top: 12%;
    }

    .rectangle {
        width: 90%;
        height: 40%;
        background-color: #bed08c;
    }

    .button {
        padding: 1% 2%;
        font-size: 100%;
        display: inline-block;
        border-radius: 25px;
        background-color: #bed08c;
        color: white;
        border: none;
    }

    .block {
        flex-basis: 33.33%;
        justify-content: center;
        position: relative;
    }

    .block img {
        display: flex;
        height: 100%;
        width: 100%;
        margin-bottom: 5%;
        object-fit: cover;
    }

    .alignement {
        text-align: center;
    }

    p
    {
        font-size: 30px;
    }

    h1
    {
        font-size: 40px;
    }

    .block button {
        position: relative;
        font-size: 175%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10%;
        border-radius: 25px;
        background-color: #bed08c;
        color: white;
        border: none;
        height: 100%;
    }
}
