
.container {
    text-align: center;
    gap: 10px;
}

.button {
    /*
    display: inline-block;
    margin: 0 200px;
    font-size: 50px;
    color: white;
    background-color: #bdce8c;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
     */
    display: inline-block;
    font-weight: normal;
    font-size: 200%;
    border: 3px solid #bed08c;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    padding:1%;
    margin-top: 10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 3%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;
    /*
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     */
    /*max-width: 400px;
    margin: 0 auto;
     */
}

legend {
    font-size: 50px;
    /*
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -20px;
    width: fit-content;
    z-index: 1;
     */
}


label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}
/*
input[type="number"] {
    width: 50px;
}

input[type="date"] {
    width: 150px;
}
*/
.container-form
{
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.child
{
    color: white;
    background-color: #bdce8c;
    text-decoration: none;
    padding: 1%;

}
.ordre
{
    align-items: left;
    text-align: left;
}

@media all and (max-device-width: 600px)
{

    .container {
        text-align: center;
        gap: 10px;
        margin-top: 50%;
    }

    .button {
        display: inline-block;
        font-weight: normal;
        font-size: 400%;
        border: 3px solid #bed08c;
        border-radius: 25px;
        text-decoration: none;
        color: black;
        padding:1%;
        margin-top: 10%;
        margin-left:5%;
        margin-right:5%;
        margin-bottom: 3%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: none;

        /*
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         */
        /*max-width: 400px;
        margin: 0 auto;
         */
    }

    legend {
        font-size: 70px;
        /*
        font-weight: bold;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        top: -20px;
        width: fit-content;
        z-index: 1;
         */
    }


    label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 35px;
    }

    input {
        padding: 28px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
        font-size: 30px;
    }
    /*
    input[type="number"] {
        width: 50px;
    }

    input[type="date"] {
        width: 150px;
    }
    */
    .container-form
    {
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        max-width: 800px;
        margin: 0 auto;
        height: 400px;
    }

    .child
    {
        color: white;
        background-color: #bdce8c;
        text-decoration: none;
        padding: 1%;

    }
    .ordre
    {
        align-items: left;
        text-align: left;
    }

    main
    {
        margin-top: 30%;
    }

    button
    {
        font-size: 35px;
        font-family: Arial, sans-serif;
        background-color: #93c47d;
        border-radius: 50px;
    }
}