/*création du block header*/
header {
    position: fixed;
    align-items: center;
    top: 0;
    box-shadow: 10px 0 20px 0 rgba(0,0,0,0.5);
    width: 100%;
    left : 0;
    background: white;
}


/*sert a placer des choses dedans*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*le bouton du menu Miamateur en haut à gauche du header*/
.button-title {
    font-family: "Arial", sans-serif;
    color : #93c47d;
    margin-left: 15%;
    display: inline-block;
    border-radius: 15px;
    font-size: 30px;
}


/*contour de la barre de recherche*/
.input-wrapper {
    display: flex;
    flex: 1;
    border-radius: 50px;
    border: 1px solid rgb(241, 238, 237);
    transition: all 0.4s ease 0s;
}

/*barre de recherche*/
.input {
    overflow: hidden;
    display: flex;
    width:100%;
    font-size: 18px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50px;
}







/*pour centrer le bouton de recherche au millieu de la barre de recherche*/
input::-webkit-input-placeholder {
    text-align: center;
}

input:-moz-placeholder {
    text-align: center;
}

input::-moz-placeholder {
    text-align: center;
}

input:-ms-input-placeholder {
    text-align: center;
}

/*bouton de recherche à droite de la barre de recherche*/
.search-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #f2f2f2;
    border: none;
    font-size: 16px;
    color: #333;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*animation quand on passe la souris sur le bouton de recherche*/
.search-button:hover {
    background-color: #ddd;
}

/*icone du bouton de recherche. Il faut le faire en CSS et pas en HTML*/
.search-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/116/116836.png");
    background-size: cover;
    background-position: center;
}

.input.clicked button {
    width: 100%;
}


/*jsp a quoi ça sert mais quand je l'enlève ça fait un truc bizarre. Ça a un liens avec l'ancien bouton de navigation*/
.scrolable{
    display : none;
    overflow: scroll;
    width: 80%;
    left : 60px;

}

/*bouton profile*/
.button-profile {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 15px;
    background: linear-gradient(to right, #93c47d, #76a5af);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.3s ease;
    border: 1px solid rgb(241, 238, 237);
}



/*les boutons du header (Acceuil, tendance commmunautaires...)*/
.header-button {
    font-family: "Arial", sans-serif;
    color : #808080;
    text-decoration:none;
    border-width : 10px;
    width: 2%;
}

/*animation quand on passe la souris sur les boutons du header*/
.header-button:hover {
    transition: all 0.2s ease 0s;
    color: #93c47d;
}

/*pour l'alignement des boutons du header*/
.alignement_cote {
    margin-right: 2.5%;
    margin-left: 2.5%;
    transition: all 0.4s ease 0s;
}

.alignement {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/*fait en sorte que le header-button du nom de la page sur laquelle on est soit de couleur verrte et pas grise*/
.active {
    color : #93c47d;
    font-family: "Arial", sans-serif;
    text-decoration:none;
    border-width : 10px;
    width: 2%;
}

/*pour ajouter un petit blanc en bas du header*/
.blanc{
    height: 10px;
}



/*caractéristique du body pour le décaler*/
body{
    margin-top: 10% ;
}



/*les infos du footer*/
footer{
    align-items: center;
    bottom: 0;
    width: 100%;
    left : 0;
    position: fixed;
    background-color: #93c47d;
    text-align: center;
}

#lefooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li{
    display: inline-block;
    font-family: "Arial", sans-serif;
    color : #93c47d;
}

.lien_footer{
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    margin-right: 20px;
    margin-left: 20px;
}


.lien_footer_reseau{
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    margin-right: 10%;
    margin-left: 10%;
}

.lien_footer:hover{
    color: black;
    transition: all 0.4s ease 0s;
}

footer img{
    width: 50px;
}

.items_social{

    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: column;

}

#social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#boutons-cliquables{
    flex-direction: row;
    padding: 0px;
}

footer h2 {
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    margin: 0;
}










