
/*
    BODY
 */


input::-webkit-input-placeholder {
    text-align: center;
}

input:-moz-placeholder {
    text-align: center;
}

input::-moz-placeholder {
    text-align: center;
}

input:-ms-input-placeholder {
    text-align: center;
}

.introduction {
    position: static;
    display: inline-block;
}
.presentation {
    width: 35%;
    height: 35%;
    display: inline-block;
    margin :2%;
}
/*
.allimg {
    width: 100%;
    object-fit: fill;
    margin-bottom:5%;
    border-radius: 15px;

}*/
.allimg {
    transition: transform 0.3s ease;
    width: 100%;
    object-fit: fill;
    margin-bottom:5%;
    border-radius: 15px;
}

.allimg:hover {
    transform: scale(1.05);
}

.allimg.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9999;
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.allimg.active:hover {
    transform: scale(1);
}

/*
.img2 {
    display: flex;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;

}*/

.img2 {
    transition: transform 0.3s ease;
    display: flex;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
}

.img2:hover {
    transform: scale(1.05);
}

.img2.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9999;
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.img2.active:hover {
    transform: scale(1);
}


.miniatures
{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:5%;
}

.paragraphe{
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
.titre {
    font-size: 140%;
    color : #bed08c;
    /* Ajout de la largeur de 20% */
}

.p1 {
    display: flex;
    gap: 25%;
    font-style: normal;
    font-size: 150%;
}
.para
{
    display: inline-block;
    color: #bed08c;
}


.parametre{
    background-color: #F4F6EDFF;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.parametre h2 {
    font-weight: normal;
    font-size: 200%; /* ou une autre valeur de votre choix pour agrandir le titre */
    border: 3px solid #bed08c;
    border-radius: 25px;
    padding:1%;
    margin:0 /*marge entre haut et en bas de l'encadrement (0) et sur les cotÃ©s (auto)*/
}


.description
{
    display: inline-block;
    font-size:140%;
    margin-bottom: 5%;
    padding: 1%;
}

.Ã©lÃ©ment {
    width: 25%;
    margin-left: 2%;
    position : static;
}
.Ã©lÃ©ment h3
{
    font-weight: normal;
    font-size: 200%; /* ou une autre valeur de votre choix pour agrandir le titre */
    border: 3px solid #bed08c;
    border-radius: 25px;
    padding:1%;
    margin:0 /*marge entre haut et en bas de l'encadrement (0) et sur les cotÃ©s (auto)*/
}





.ingrÃ©dients ul {
    list-style-type: none; /* Supprime les puces par dÃ©faut */
    padding-left: 0; /* Supprime le padding Ã  gauche pour les listes */
}

.ingrÃ©dients li::before {
    content: "-"; /* Ajoute un tiret devant chaque Ã©lÃ©ment */
    font-weight: bold; /* Met en gras le tiret */
    margin-right: 0.5em; /* Ajoute une marge Ã  droite du tiret */
}

.Ustensiles ul {
    list-style-type: none; /* Supprime les puces par dÃ©faut */
    padding-left: 0; /* Supprime le padding Ã  gauche pour les listes */
}
.Ustensiles li::before {
    content: "- "; /* Ajoute un tiret devant chaque Ã©lÃ©ment */
    font-weight: bold; /* Met en gras le tiret */
    margin-right: 0.5em; /* Ajoute une marge Ã  droite du tiret */
}


.Recette{
    background-color: #F4F6EDFF;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.Recette dl {
    list-style-type: none;
    padding-left: 0;
    margin-left:2%;
    width: 90%;
    background-color: #F4F6EDFF;
}
.Recette dt {
    font-size:100%;
    list-style-type: none;
    font-weight: bold;
    color: #bed08c;
}

.Recette ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    margin-left: 0.5%;
}

.Recette li {
    list-style-type: none;
    margin-top: 0.5em;
    margin-left: 0.5%;
}

.Recette h3 {
    margin-top: 0;
    margin-left: 0.5%;
    font-style: normal;
    font-size: 120%;
}

.Recette p {
    margin-top: 0;
    margin-left: 0.5%;
    font-style: normal;
    font-size: 110%;
}


body{
    font-family: Arial;
    padding: 5%;
}






.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.enlarged-image {
    max-width: 90%;
    max-height: 90%;
}



.menu {
    margin-bottom: 10px;
    overflow: hidden;
    transition: height 1s;
}

.menu-btn {
    background-color: #bed08c;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 15px;
    font-size:150%;
    list-style-type: none;
    font-weight: bold;
    color: white;
}

.menu-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 15px;

}

.menu-content.show {
    display: block;
}



