#header {
    background: url("image/header.jpg");
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    height: 10%;
    left : 0;
}
.barre_search{
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.box{
    display: flex;
}